body{
    position: (50%,50%);
    font-size: 20px;
	background-image: url(../img/bg.jpg);
}

div.container{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
}

div.container canvas{
	margin: 0px auto;
    border: 1px solid #000;
    margin-left: 50px;
    background-image: url(../img/miziqipan.png);
}

div.box{

    height: 450px;
    width: 270px;
	position: relative;
	margin: 130px auto;
}

div.game_title{
	color:#FFFF99;
	font-size:70px;
	text-align: center;
}

div.homePic{
    display: block;
    height: 100px;
    width: 270px;
    line-height: 100px;
}

div.submit_button{
	height: 50px;
	line-height: 50px;
}

#goFirst{
    margin-left: 50px;
    margin-top: 27px;
}

div.homePic img{
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}

.submit_button button{
	display: block;
	width:80px;
	height: 30px;
	float: left;
	border-radius: 10px;
}

.submit_button #start2{
	margin-left: 100px;
}